{% extends 'base.html' %}

{% block title %}Login{% endblock %}

<!--
<div class="container-fluid">
    <div class="jumbotron">
        <font color="grey">
        <h1>Welcome to Todo App!</h1>
        <h4>Your App to manage your Todos list</h4>
        <h4>First of all, you have to connect !</h4>
        <h6>(If ever you don't have any account, please contact the administrator</h6>
        </font>
        <div class="row">
            <div class="col-md-8">
                <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->
