{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Particular character font -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Todo_list CSS -->
        <link rel="stylesheet" href="{% static 'css/todo.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css'%}">

        <title>Todos</title>

    </head>

    <body>

        {% if not user.is_authenticated %}

            <div class="container-fluid">
                <div class="jumbotron">
                    <font color="DarkSlateGray">
                    <h1>Welcome to Todo App!</h1>
                    <h4>Your App to manage your Todos list</h4>
                    <h4>First of all, you have to connect !</h4>

                    </font>
                    <div class="row">
                        <div class="col-md-8">
                            <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
                                {% csrf_token %}
                                {{ form | crispy }}

                                <!-- <input type="hidden" name="next" value="{{ next }}">-->
                                <input class="btn btn-default" type="submit" value="Login">
                                <!-- <button class="btn btn-default" type="submit">Login</button> -->
                            </form>
                        </div>
                    </div>
                    <p></p>
                    <h6>(If ever you don't have any account, please contact the <a href="#">administrator</a>)</h6>
                </div> <!-- /jumbotron -->
            </div> <!-- /container -->


        {% else %}


        <!-- Collapsable menu XLH -->
        <div class="pos-f-t">
            <!-- Collapsable part XLH -->
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-inverse p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <!-- Content of the menu bar -->
            <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
                <button class="navbar-toggler navbar-toggler-right"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/"><button type="button" class="btn btn-success">Todo list</button></a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <!--
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                        -->
                    </ul>

                    <span>
                        <!-- Manque quelque chose pour bien aligner en vertical les menus items -->
                        <a class="nav-link" href="{% url 'todo_new' %}">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-plus-circle fa-lg" aria-hidden="true"></span>
                            </button>
                        </a>
                    </span>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <p></p>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    </body>

   <hr>

    <div class="container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; GesFi Company 2017 - Todo list application</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-md-4">
                        <p class="text-right" >
                            <a href="/admin/">Admin</a>
                        </p>
                    </div>
                {% endif %}
                </div>
        </footer>
    </div>

</html>